.stars-bg {
  background: url("../../../static/stars-fill.jpg") repeat;
  -webkit-animation: loader 16s steps(100) infinite;
  -moz-animation: loader 16s steps(100) infinite;
  -ms-animation: loader 16s steps(100) infinite;
  -o-animation: loader 16s steps(100) infinite;
  animation: loader 16s steps(100) infinite;
}

@-webkit-keyframes loader {
  from {
    background-position: 0;
  }
  to {
    background-position: -100% 0;
  }
}
@-moz-keyframes loader {
  from {
    background-position: 0;
  }
  to {
    background-position: -100% 0;
  }
}
@-ms-keyframes loader {
  from {
    background-position: 0;
  }
  to {
    background-position: -100% 0;
  }
}
@-o-keyframes loader {
  from {
    background-position: 0;
  }
  to {
    background-position: -100% 0;
  }
}
@keyframes loader {
  from {
    background-position: 0;
  }
  to {
    background-position: -100% 0;
  }
}
