parser: babel-eslint //deprecated package
rules:
  indent:
    - warn
    - 2
    - SwitchCase: 1
  quotes:
    - 2
    - double
  linebreak-style:
    - 2
    - unix
  semi:
    - 2
    - always
  no-unused-vars: warn
  react/jsx-uses-react: 1
  react/jsx-uses-vars: 1
env:
  es6: true
  browser: true
  node: true
  jest: true
extends: 'eslint:recommended'
plugins:
  - react
