parser: babel-eslint
rules:
  indent:
    - 2
    - 2
  quotes:
    - 2
    - double
  linebreak-style:
    - 2
    - unix
  semi:
    - 2
    - always
  react/jsx-uses-react: 1
env:
  es6: true
  browser: true
  node: true
extends: 'eslint:recommended'
ecmaFeatures:
  jsx: true
  experimentalObjectRestSpread: true,
  modules: true
plugins:
  - react
