sudo: false
language: 
- node_js
- java
- ruby
node_js:
  - 12
jdk: 
  - openjdk8
  - oraclejdk8
rvm:
  - 1.9.3
before_install:
- npm install -g npm@latest
- rvm install 1.9.3
- gem update --system 1.8.24
- travis_internal_ruby() { echo "$TRAVIS_RUBY_VERSION"; }
script:
- npm run lint
- npm test
deploy:
- provider: script
  skip_cleanup: true
  script: scripts/deploy.sh production
  on:
    branch: master
- provider: script
  skip_cleanup: true
  script: scripts/deploy.sh staging
  on:
    branch: develop
env:
  global:
  - secure: gYGaHr8vx4RAwczHElLuVYfZf5lBcXYrwYLPIFAgQshxgPr22Vx3Ie12EldxeP++pjVnfoyTMkP9CMm9d+ya3olr7t3HEEDX7mK2xSKjPakG9k4b1IOtPNbClIOdYWc6PEUJKye853OaE0IgmZ/e0ShC6yS+fAKwsnUoHE2/fa1nksi0IqEqrRt+MvuxteBVTIzzWvs+mlbXbIXbVZa1m9N8hnJPTXXwb1F9cL58OV3pip/yWRltcSRJDMUM8ipjwwdoHSdze7O5LyiaJWc+ABji5fr4jog5WSzVOeDQAvMNbDc5mpOxx968fmWTqqAKANcqrt9u7VcnXjTRodAG3IsK8aOLe4aEvjvnwDItk8nQKIY8PzS7rErj3WacHPy+jguYwe7ehOD9zYAizcvBqo7E/TM1siBkosIQyRA5yvHRbLhsC4d1C3rRIyrD091IdF921NhKmZmTVOmAOznMSkIKep+QJ7Q/phfxt7TrX7n0nyjnfK2kMBym3uxFWLoX8AgXyD5l5+Wp2LQZyIsnhHvCV4ij8l3PvXdEVfKrd1nJuvWTxHfJK0MHhceiQhTITDMVW9qdYRHoRTRBJLqLuHAJiNvuweOFY+OPmcWDEKpZAHMy9P6fNjrgeyh6RpJRopr6f6bRZEBcUjSJz16RFIlDmwtD+a/TGXfep0xh6O0=
  - secure: cnaTboHuVcFJ+XtRJZbrWja/cEu8HYYgWHZO4e13BKmdxHXI/VUIspaSG+E+7ufUEn4T7BYQeG80p7ddzyBC/QnwuE4boLBjGE/qZawPhHkXP8f1kOtTcS2YKLCtogN/dcx7krIi3gsnKf8LBY86YRAlUcfPPzsTSlhjVRgjYOGRcskWFas32UrsHu44TkC+AWPrbXeIZkTEylGLNxkeLh2Ysjp3hik5BH52ow+Qw6w0Bs/Rf3uKqi1flf/j73UdsxEI4AMLlcEDBncEG7SUl6r76LH8QmUySywTvh/0FfGWG66E6QiA/JpCGr3Hm7fxyOrP/8kb4b5n61fsAKRMDP9ccQyyhuvx+z1HrDnFt5/MMIdie/ZSP6lbH3wCzaji96hL+JJDYJ4+xeDeYJS2unTvTKBgWsIqXkxfEIBtUg+zpEoaUls5JBQ4Rpn8qWvYgzvlQcNpj/LpmXmBqijBknNhZGPWpT1IAnDu6YuA+6rtHkfsiki3BEIF1DCF8bYq+zZ3hVfmwwGCpDF5EDm084g8pKO7trI+9V4BB/6TjI1887D6eiDFlV/4XMBfQWRC/ZAhSWkBH8gL51QHmXIrnmqRXe4quJhBltPyU3OxpN24XOBsGVyoOzFEznQRcQgvzoVgnLUgcAgc32tjKdwse9qg/9ca18AuBrnTIRmOmek=
  - secure: QOxzqtVcwyn4w00NUJUBEdoXfZcoHu5qGsM8OdfYqijXff82nTRYU8AMVr981Eb5//Cd0p4jfuzTSeOVyjRGz3Zr8qBBT9/fyQlm/4X0rk64KBnNm1jwM19oa59JB7KHXsVWhMjM1YO3l63wemQ4e4hLw8kZAn7NHvyrrMm5s7u1JNKpF6mWi22uWMnGAWMt3N3KVSP/j1PsKnFgxjPraYwnuquX/WDxHJsaPbOhwylJ4KlCJPyntlSXHI1K/4qpNYB6pqmK+W2+orU3IsnAIDB1NY333OJO1I0muOZce3ykRBbF+K+K45cyiqV0+LZz1/FTbcI+q5hK+D5x7Yt6LSct1pQpUSME1V09jBSw5IPxgWZ39iz8Fi68LVgNPFUClvRXJ6yHE7ZqPsZ6IJXHM0fXl67N11+/gZyRw3+DZQ4a7th/6282YabRgHQT3FOyt7IyXT8Jnui8F8KOsfIvOdbhlNcSBnEXtVhjX1FMh0q+IRBeroo4ZdxFFpGIEgReKvyjNvyNha8GuT08BxCs/e5V2v4Z2I2jwHktjM2hWEHmF+x+3O5c7PplXsx6+PktZLOUyifEuAV5GrA0EMfpX7wRAadh5QrkqPtHEf2C17xRpCKSGD/53L2n63+V7ensYClmC6Xjv5DMxRdBlqDGjeR2mGiipj7nLpmB9YPBqUE=
  - secure: BxzEKVUOOSRPJK3zY8wEmXumd2sBWj5WQZoLsXWb/4aFUmFHWjB/sxRTdgySUgZLwRxQt9nya4vH4wimwWbbOtof17C++xZvaMXZ94Xdks6kZ4ULLzMyFgWHsrwfqGW+PrL4IcQCtJSHAvj9w3vY40jucsNfqjkkXDDZuItNt0c8lVZy8V4jm/PQNDY87LOqyC7bVuuUNlNt2J18y87DBB6BhO7cgjYQWIzx5QWa/RDQNL3TuXM4bWh3fR6n/MQ+cKXOno61PYfNsL7zSVE4aJfPN6/V8i3trIadBgFXV4eNn5x/uU8kV50ngo/8VGXGotnSjzjHAJyU5z/0FeoLcNBAEZ+SOYJ0exEHWNubPk5jq2paw9wQXUYjbXMMhr5wks8ei+Vztq++EZ9AYzKROHR3pB4kbJfPzKxsx1z3a93/zwUL5+KwdDa5Iddvp/BwmbzC78p2MpUCF5noY7yHdWHeaC5Lzod5ONSB0/jnVyLQ3479Q5g2BdU1eHFWVpiy/cNdg5OnGCmLUkZzo7m0mKPdwFV0VJY25q6ZjvuXwv6RuNbMB8NUpxWxH06ec+rGRT0+h84FvqpAlAuA2ZGcTEtGbFhWqoH6FF6V2iZI/FgIXEedQtoxls2k+CD4hEmIqVdrULLmwdlkpjNJruYpORvtNfzDy5pztKDdZjrjqhU=
notifications:
  slack:
    secure: jbTPrBk3fg1k529RvW99/K69NqhG0r1d3+L+kCycPgj+YHheyyU3RUoK4ZnLkWAxIHK8FNgy5yq9n/rAKN+v20kXANV/Td5ZYZUrNoIyYE5L6aipjzxgYxvaBC8DglA+0DN7woUitYdSkDkoljVMzZVKsrYN5hR7ycJu5bmTMz4xJSnVZi4UY6oLLpaFjHXXDSVm8bOqJaeQhhr7sf4m/LYdF6D23FK4O4Y/qBycNfMopDMY34RUeiDnPzU0TX2tnpXpo+q0UWPqyuQ66w4R4SS7EaNgqaEHG7xdG/tXylB/9+ZCoGz6tcSxCJMshuN54K/c4KqWAJXkkbfGpq6ZuQ2f7dwqgNEKDt2yPSxjZyt4JZP7fl+oGZ6ecawrbT9ylpbq++dSBmvhBHIbZzFVXAjOibkHV2vVpY4jT1rxL7HMkpbrtWlyLHMOEo4aA7g0gi4Lt2oSOXBlJtwwePF+irmg6mlAHZfbHSsucSVrv2jWwENcBfz49ugdG133ypzq1sznyoJZyxKFL8M0vCa9mgyp2g/vO/+IlMijlLqj+dv9rab+mqHF3N+n/YY/h16K0VcC9qSY+Y/M/35V5siQsVBqKeC98j0sAqAUSWdt6LDRdDOJZCLWUYad5SURd6gkGV4WfG0cDNfRky4/O+TltUXCXlgjbU7z+tPq5go90oQ=
