
.message-title {
    font-size: 1.4rem;
  }
  
  .message-body {
    font-size: 1.3rem;
  }
  
  .btn-close-container{
      display: flex;
      justify-content: center;
      width: 100%;
  }

  
  .btn-bigCentered {
    color: #fff;
    background-color: #375a7f;
    border-color: #375a7f;
    font-size: 1.2rem;
  }