.newsLinks {
  margin-left: 50px;
  margin-right: 25px;
  padding-block-start: 5px;
  position: relative;
  a {
    color: #00abbc;

    &:hover {
      color: #c0c0c0;
      position: relative;
    }
  }
}
