.gradeanchor {
  background-color: #471c45a8;
  border-color: salmon;
  border-width: 10px;
  width: 100%;

  color: white;
  padding: 60px;
  font-size: 70px;
  font: bolder;
  margin: auto;
}
.addpadding {
  padding: 50px;
}
