$dj-width: 100%;
$dj-volume-width: 20%;
$dj-player-width: ($dj-width - $dj-volume-width) / 2;
.dj-viewer-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  .moment-viewer-container, .dj-viewer {
    width: $dj-player-width;
    position: relative;
    padding: 0 15px;
  }
  .transcript-panel {
    width: 100%;
  }
  .transcript-panel .list-group {
    max-height: 35em;
  }
}

.dj-volume-control {
  width: $dj-volume-width;
  &-sliders {
    display: flex;
  }
}

.dj-play-button-container {
  margin: 0 auto;
  width: 150px;
  height: 150px;
}

.dj-vertical {
  writing-mode: vertical-lr; /* IE */
  -webkit-appearance: slider-vertical; /* WebKit */
  width: 8px;
  height: 175px;
  padding: 0 5px;
}
