.channel-item-container {
background-color: #302d2d;
    padding: 0 5px;
    border-radius: 5px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    margin: 10px 0;

// border-color: white;
}

.info-button-container{
    display: inline-block;
    position: relative;
    top: -10px;
    left: -2px;
    color: #45AD13;
}

.info-button{
    color: #45AD13;
    border-radius: 10px;
    font-size: 0.6em;
}
.transparent-button{
    color: #375a7f;
    border-color: #375a7f; 
}
.loading-channels-container{
    width: 100%;
    height: 100%;
}

.channel-item-selected {
    background-color: rgba(118, 77, 212, 0.801);
    border: 1px solid rgba(118, 77, 212, 0.801);
    border-radius: 30px;
    width: 18px;
    height: 18px;
    left: 16px;
    top: 19px;
    z-index: 1000;
}

.channel-item-text{
    font-size: 1.1em;
}

.channel-select-menu-containner{
    margin-right: 30px;
}

.title-banner-text{
    font-size: 1.5em;
}

.title-banner-container{
    background: rgba(118, 77, 212, 0.801);
    padding: 0.5em;
    margin: 1rem 0;

}

.option-label{
    font-size: 1.2em;
    margin: 0;
}
.channel-item-unselected{
    background-color: #000000;
    border: 1px solid #808080;
    border-radius: 30px;
    width: 18px;
    height: 18px;
    left: 16px;
    top: 19px;
    z-index: 1000;
}

.play-channels-button{
    background-color: rgba(118, 77, 212, 0.801);
}

.channel-item-disabled{
    background-color: #454545 !important;
    color:  #808080 !important;
}

.channel-item-disabled .channel-item-unselected {
    background-color: #454545 !important;
    border: 1px solid #454545;
}

.options-container{
    padding-left: 0.05em;
}

.channel-select-container{
    font-size: 0.8rem;
}

@media (min-width: 576px) {
.channel-select-container {
    font-size: 0.9rem;
}


}

@media (min-width: 992px){
    .channel-select-container {
        font-size: 1.1rem;
    }

}

