.playButtonContainer1 {
  &:hover {
    cursor: pointer;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #f1f1f1;
  border-radius: 50%;
}

.muteButtonContainer {
  &:hover {
    cursor: pointer;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #f1f1f1;
  border-radius: 50%;
  margin-left: 2px;
}
.play1 {
  width: 70%;
  height: 70%;
}

.pause1 {
  width: 70%;
  height: 70%;
}

.audio-title {
  height: 50px;
  font-size: 2.4rem;
}
.audio-filename-text {
  font-size: 1.3rem;
}

@media (max-width: 768px) {
  .audio-title {
    height: 40px;
    font-size: 2rem;
  }
  .audio-filename-text {
    font-size: 1rem;
  }
}