@import '../../node_modules/bootstrap/dist/css/bootstrap.css';

html, body, #houston {
    height: 100%;
}

.navbar {
  margin-bottom: 0;
}

// App containe
.app-container {
  height: 100%;
  display: flex;
  flex-direction: column;

  .app-panel {
    width: 100%;
    flex: 1;
    position: relative;
  }
}

// Viewer cotainer
.moment-viewer-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 0 15px;

  .moment-player-panel {
    padding: 0 15px;
  }

  .timeline-panel {
    height: 100%;
    margin: 0;
    display: flex;
  }
}

// Transcript Timeline

.transcript-panel {
  display: flex;

  .timeline-container {
    flex: 1;
  }
}

.timeline-container {
  display: flex;
  flex-direction: column;

  .panel-heading {
    box-sizing: content-box;
  }

  .list-group {
    flex: 1;
    overflow-y: auto;
  }
}


.glyphicon.icon-large {
	font-size: 3em;
}

.slideTransition {
  transition: left 10s;
}

.active-transcript {
  font-weight: bold;
}

.cursor-pointer {
  cursor: pointer;
}

.timeline-container {
  .transcript-item {
    .start-time {
      float: right;
    }
  }
}

.story-timeline-container {
  min-height: 100%;
  .story-play-all {
    font-size: 1.5em;
    font-weight: bold;
    a {
      color: #25799C;
    }
    a:hover {
      text-decoration: none;
      color: darken(#25799C, 30%);
    }
  }
  .story-timeline-line {
    z-index: 1;
    position: absolute;
    background-color: #A2A2A2;
    top: 0;
    bottom: 0;
    left: 35px;
    height: 100%;
    width: 4px;
    border-radius: 5px;
  }
  .story-timeline-item.story-item {
    z-index: 1;
  }
  .story-timeline-item {
    position: relative;
    margin-bottom: 20px;
    .story-timeline-item-content {
      z-index: 0;
      padding: 10px 20px 10px 45px;
      .story-timeline-title {
        font-size: 1.5em;
        font-weight: bold;
      }
      .story-timeline-time {
        font-size: 1.2em;
        color: #777;
      }
      .story-timeline-content {
        font-size: 1.2em;
      }
      .story-timeline-play {
        font-size: 1.5em;
      }
    }
    &.story-item {
      .story-timeline-item-content {
        border: 1px solid #ddd;
        background-color: #fafafa;
        border-radius: 4px;
      }
    }
    &.landmark-item {
      .story-timeline-item-content {

      }
    }
    .story-timeline-item-node {
      background-color: #000000;
      border: 1px solid #808080;
      border-radius: 30px;
      width: 14px;
      height: 14px;
      position: absolute;
      left: 16px;
      top: 19px;
      z-index: 1000;
    }
  }
}

.react-spinner {
  position: relative;
  width: 32px;
  height: 32px;
  top: 50%;
  left: 50%;
}

.react-spinner_bar {
  -webkit-animation: react-spinner_spin 1.2s linear infinite;
  -moz-animation: react-spinner_spin 1.2s linear infinite;
  animation: react-spinner_spin 1.2s linear infinite;
  border-radius: 5px;
  background-color: #1d1d1d;
  position: absolute;
  width: 20%;
  height: 7.8%;
  top: -3.9%;
  left: -10%;
}

@keyframes react-spinner_spin {
 0% { opacity: 1; }
 100% { opacity: 0.15; }
}

@-moz-keyframes react-spinner_spin {
 0% { opacity: 1; }
 100% { opacity: 0.15; }
}

@-webkit-keyframes react-spinner_spin {
 0% { opacity: 1; }
 100% { opacity: 0.15; }
}
