:local(.playlistNavBar) {
  background: #1d1d1d;
  color: #fff;
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  strong {
    font-size: 1.5em;
  }
}

:local(.storyName) {
}
